@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)

normalize-base()
normalize-html5()

gray = #383939
orange = #DE6C2A

@lost
  gutter 10px

body
  background-image url("squares.png")
  font-family 'Montserrat', sans-serif
  font-weight 400

header
  background-image url("logo.png")
  background-size contain
  background-repeat no-repeat
  background-color gray
  lost-column 1/1
  lost-row 1/1
  h1
    lost-move 1/16
    color orange
    margin 30px 0px

#login-buttons
  lost-move 5/6

.wrapper
  lost-center 940px

  #sign-in-text
  #get-token-text
    area white
    lost-center 600px
    h3
      color orange
      text-align center

  #get-token-text
    li
      margin-top 20px
      a
        color orange
    input
      margin 20px 20px 0px 0px
      width 450px
      height 25px
    input:focus
      outline 2px solid orange
    #submit-token-url
      button(orange, 12.5, white)