@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)

normalize-base()
normalize-html5()

gray = #383939
orange = #DE6C2A

body
  background-image url("squares.png")
  font-family 'Montserrat', sans-serif
  font-weight 400

header
  background-image url("logo.png")
  background-size contain
  background-repeat no-repeat
  background-color gray
  lost-column 1/1
  lost-row 1/1
  h1
    lost-move 1/16
    color orange
    margin 300px 0px
    display inline
    position relative
    top 8px

#login-buttons
  lost-move 7/10
  margin 35px
  color white
  .login-display-name
  .login-button
    font-family 'Montserrat', sans-serif

.wrapper
  lost-center 940px

  #recommendations
    margin-top -50px

  #sign-in-text
  #get-token-text
    area white
    lost-center 600px
    h3
      color orange
      text-align center

  #get-token-text
    li
      margin-top 20px
      a
        color orange
    input
      margin 20px 20px 0px 0px
      width 450px
      height 25px
    input:focus
      outline 2px solid orange
    #submit-token-url
      button(orange, 12.5, white)

  .recommendation
    area white
    lost-utility clearfix

    .buttons
      margin-top 35px
      // lost-column 1/1

    #pass, #like
      hover-pop 1.1 0deg true

    #pass
      lost-column 1/10
      button(red, 12.5, white)

    #like
      lost-column 1/10
      lost-move 8/10
      button(green, 12.5, white)

    .details
      lost-column 1/1
      margin 15px 0px

    .photos
      lost-column 1/1
      img
        lost-waffle 1/2