@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)

normalize-base()
normalize-html5()

body
  background-image url("squares.png")
  font-family 'Montserrat', sans-serif
  font-weight 400