<template name="recommendation">
  <div class="recommendation">
    <h2>{{name}} - {{dateToAge birthDate}}</h2>

    <div class="buttons">
      <button id="pass"><i class="fa fa-times fa-lg"></i></button>
      <button id="like"><i class="fa fa-heart"></i></button>
    </div>

    <div class="details">
      <p><i class="fa fa-map-marker"></i> {{distance distanceMi}} kms</p>
      {{#if bio}}
        <p><i class="fa fa-info-circle"></i> {{bio}}</p>
      {{/if}}
    </div>

    <div class="photos">
      {{#each photos}}
        {{#unless unknownPhoto this.id}}
          <img src="{{this.url}}">
        {{/unless}}
      {{/each}}
    </div>
  </div>
</template>